

#container {
    overflow: hidden;
    height: 100%;
}

.box-row {
    height: 50%;
}

.box {
    height: 100%;
    padding: 0;
}

.box-style {
    font-size: 2em;
    width: 100%;
}

.innerbox {
    height: 100%;
    width: 100%;
    padding-top: 15px;
    position: static;
}
#checkbox{
  display:inline-block;
  border-radius:2px;
  position:relative;
  cursor:pointer;
  margin-right: 30px;
}

#checkbox-element{
  display:block;
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:99999;
  opacity:0;
}

#checkbox>input[type='checkbox']+i{
  color:rgba(255,255,255,0.2); // color 1
}

#checkbox>input[type='checkbox']:checked+i{
  color:#fff; //color 2
}
.previous
{

}
.mymodal{
    z-index:9999;
    //position: absolute;
}
.lyric
{
    white-space: pre-line;
    word-break: break-word;
    max-height: 400px;
    overflow: scroll;
}
#play{
    font-size: 2em;
    margin-left: 15px;
    margin-right: 15px;
}
#pause{
    font-size: 2em;
    margin-left: 15px;
    margin-right: 15px;
}
#lyrics
{
    font-size: 1.3em;
    margin-left: 15px;
}

.control-button {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
    font-size: 1.5em;
}

.seekcontrols {
	position: absolute;
    height: 30px;
	left: 5px;
	right: 5px;
	padding: 0px;
}

.seekcontrols .slider {
	position: absolute;
	top: 10px;
	left: 60px;
	right: 60px;
}

.seekcontrols input {
	width: 100%;
}

.seekcontrols div.progress {
	//width: 60px;
	position: absolute;
	top: 3px;
	left: 5px;
	//text-align: center;
    height: inherit;
    background-color: inherit;
    margin-bottom: 0;
}

.seekcontrols div.duration {
	position: absolute;
	right: 0px;
	top: 3px;
	width: 60px;
	text-align: center;
}
#audio1
{
    margin: -40px;
}
.playlistname
{
    font-size: 12pt;
    min-height: 5px;
}
.queue
{
    font-size: 0.9em;
    margin-left: 5px;
}
.floating
{
    float: left;
}
.buttons
{
    user-select: none;
    margin-top: 27px;
}
.floatleft{
    float: left;
}
.box-style{
    padding: 0;
    font-size: 1.3em;
}

.trackinfo{
    min-height: 52px;
    max-height: 70px;
    overflow: hidden;
}
.row{
    margin-left: 0;
    margin-right: 0;
}