

@background: #000000;
@box-back-color: #242021;
@lw-yellow: #DBB64C;
@box-small-margin: 15px;
@box-big-margin: 2 * @box-small-margin;
@number-font-size: 6em; 
@table-number-font-size: 4.5em;


h2 {
    width: 100%;
    float: left;
    color: @lw-yellow;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    padding: 15px 15px 0px 15px;
    font-weight: 600;
}

#container {
    overflow: hidden;
    background-color: @background;
}

.box-row {
    height: 50%;
}

.box {
    height: 100%;
    padding: 0;
}

.box-style {
    height: 100%;
    width: 100%;
    background-color: @box-back-color;
    border-radius: 10px;
    padding: 20px;
    color: #FFFFFF;
    font-size: 2em;
    text-align: center;
}

.box-content {
    height: 100%;
    width: 100%;
    font-size: @number-font-size;
    left: 0%;
    position:absolute; 
    top:50%;
    margin-top: -0.6em;
}


.innerbox {
    height: 100%;
    padding: @box-small-margin @box-small-margin 0 @box-small-margin;
}
a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
    font-size: 2em;
}