
<div class="innerbox">
    <div class="box-style">
        <div>
            <div class="trackinfo row">
                <div >
                    <div class="playlistname" *ngIf="track && track.Playlist">
                        {{track.Playlist.Name}}
                    </div>
                    <div>
                        {{track.Name}}
                    </div>
                </div>
            </div>
            <div class="row seekcontrols">
                <div class="progress">{{ progress | displaytime }}</div>
                <div class="duration">{{ duration | displaytime }}</div>
                <div class="slider">
                    <input type="range" [(ngModel)]="progress" data-toggle="tooltip" title="Seek" (change)="changeprogress()" min="0" max="{{duration}}" (mousedown)=mouseDown() />
                </div>
                <div class="buttons">
                    <span id="checkbox">
                        <input (click)="shuffleChanged()" data-toggle="tooltip" title="Shuffle" [(ngModel)]="shuffle" id="checkbox-element" type="checkbox"/>  
                        <i class="glyphicon glyphicon-random"></i>
                    </span>
                    <a id="previous" (click)="previous()" data-toggle="tooltip" title="Previous" class="control-button previous glyphicon glyphicon-step-backward"></a>
                    <a id="play" *ngIf="isplaying == false" (click)="play()" data-toggle="tooltip" title="Play" class="control-button glyphicon glyphicon-play"></a>
                    <a id="pause" *ngIf="isplaying == true" (click)="pause()" data-toggle="tooltip" title="Pause" class="control-button glyphicon glyphicon-pause"></a>
                    <a id="next" (click)="next()" data-toggle="tooltip" title="Next" class="control-button glyphicon glyphicon-step-forward"></a>
                    <a id="lyrics" (click)="myLyricsModal.show(); $event.stopPropagation(); lyrics()" data-toggle="tooltip" title="Lyrics" class="control-button glyphicon glyphicon-align-center"></a>                    
                </div>
            </div>
        </div>
        <!--style="visibility: hidden"-->
            <!--<iframe id="youtube" (loaded)="onYoutubeLoaded()" (ended)="onYoutubeEnded()" width="560" height="80" [src]="selectedTrack.address | safe" allowfullscreen>
            </iframe>-->
            <youtube-player
                style="visibility: hidden"
                [videoId]="track.Address"
                (ready)="savePlayer($event)"
                (change)="onStateChange($event)"
                width="1" height="40"
            ></youtube-player>
        <!--<div class="row" *ngIf="track.type == 2" style="visibility: hidden">
            <iframe id="spotify" (load)="onLoad(this)" [src]="track.address | safe" width="300" height="1" frameborder="0" allowtransparency="true"></iframe>
        </div>-->
        <!--style="visibility: hidden"--><!--[currentTime]="15" [duration]="{{duration}}" [currentTime]="{{progress}}" (loadedmetadata)="loadedmeadata()"-->
            <audio (error)="error()" height="40" *ngIf="track.Type == 3" style="visibility: hidden"  (ended)="onAudioEnded()" (loadedmetadata)="loadedmeadata()" id="audio1" [src]="localFileAddress(track) | safe" controls="" autoplay>
            </audio>
    </div>
</div>
<my-modal class="mymodal" #myLyricsModal>
    <div class="app-modal-header">
        <h1>Lyrics for: {{lyricHeader}}</h1>
    </div>
    <div class="app-modal-body">
        <pre class="lyric">
            {{lyric}}
        </pre>
    </div>
    <div class="app-modal-footer">
        <img class="pull-left" [src]="lyricImageUrl | safe">
        <button class="btn btn-primary" (click)="myLyricsModal.hide()">Close</button>
    </div>
</my-modal>

