header {
	position: relative;
	height: 220px;
}
table.tracks {
	width: 100%;
	margin: 0 0px;
	border-collapse: collapse;
}
table tr td {
	font-size: 13pt;
	border-top: 1px solid #393b40;
	padding: 4px 10px 4px 0;
	text-align: left;
}

table tr td i {
	font-style: normal;
	color: #aaa;
}

table.tracks tr td i > a {
	color: inherit;
}

table tr td.nowrap {
	white-space: nowrap;
}

table tr th {
	text-align: left;
	font-weight: 300;
	font-size: 9pt;
	color: #fff;
	padding: 4px 10px 4px 0;
}

.drop
{
	max-height: 150px;
	scroll-behavior: auto;
	overflow: scroll;
}
.tdArtist
{
	width: 38%;
	max-width: 50px;
	overflow: hidden;
}
.tdTrack
{
	width: 58%;
	max-width: 50px;
	overflow: hidden;
}
.stdArtist
{
	width: 30%;
	max-width: 50px;
	overflow: hidden;
}
.stdTrack
{
	width: 40%;
	max-width: 50px;
	overflow: hidden;
}
.stdAlbum
{
	width: 26%;
	max-width: 50px;
	overflow: hidden;
}
.tdThirtyProcent
{
	width: 30%;
	max-width: 50px;
	overflow: hidden;
}
.tdTenProcent
{
	width: 10%;
	max-width: 50px;
	overflow: hidden;
}
.tdPlay
{
	width: 4%;
}
.play-button {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
    font-size: 1.5em;
}
.active {
  color: limegreen;
}
.track:hover{
    background: #363031;
}
.addplaylist
{
	height: 30px;
    width: 30px;
    padding: 5px;
}
li{
	cursor: pointer;
}

.checkboxes {
	display: flex;
	font-size: 12pt;
}
.search-button {
	display: block;
	width: 100px;
}