<div id="container">
    <div class="col-xs-12 col-sm-12 box">
        <div class="innerbox">
            <div class="box-style"> 
                Spotify Search result:
                <table class="tracks">
                    <thead>
                        <th>TRACK</th>
                        <th>ARTIST</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let track of spotifyTracks">
                            <td (click)="onSpotifySelect(track)">
                                {{track.name}}
                            </td>
                            <td (click)="onSpotifySelect(track)">
                                {{track.artists[0].name}}
                            </td>
                            <td>
                                <div class="dropup">
                                    <button class="btn dropdown-toggle glyphicon glyphicon-option-horizontal" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu drop" aria-labelledby="dropdownMenu1">
                                        <li *ngFor="let playlist of playlists">
                                            <a (click)="addSpotifyTrackToPlaylist(playlist.id, track)">
                                                {{playlist.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
                Youtube Search result:
                <table class="tracks">
                    <thead>
                        <th>Channel name</th>
                        <th>Video name</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let video of youtubeVideos">
                            <td (click)="onYoutubeSelect(video)">
                                {{video.snippet.channelTitle}}
                            </td>
                            <td (click)="onYoutubeSelect(video)">
                                {{video.snippet.title}}
                            </td>
                            <td>
                                <div class="dropup">
                                    <button class="btn dropdown-toggle glyphicon glyphicon-option-horizontal" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu drop" aria-labelledby="dropdownMenu1">
                                        <li *ngFor="let playlist of playlists">
                                            <a (click)="addVideoToPlaylist(playlist.id, video)">
                                                {{playlist.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
