
.box {
    padding: 0;
}
/*li{

    background-color: @background;
}*/
header {
	position: relative;
	height: 220px;
}
table.tracks {
	width: 100%;
	margin: 0 0px;
	border-collapse: collapse;
}


table {
	tr
	{
		td {
			font-size: 13pt;
			border-top: 1px solid #393b40;
			padding: 4px 10px 4px 0;
			text-align: left;
			i {
				font-style: normal;
				color: #aaa;
			}
			i > a {
				color: inherit;
			}
			.nowrap {
				white-space: nowrap;
			}
		}
		th {
			text-align: left;
			font-weight: 300;
			font-size: 13pt;
			color: #fff;
			padding: 4px 10px 4px 0;
		}
	}
}

.drop
{
	max-height: 150px;
	scroll-behavior: auto;
	overflow: scroll;
}
.tdArtist
{
	width: 30%;
}
.tdTrack
{
	width: 40%;
}
.tdAlbum
{
	width: 26%;
}
.tdPlay
{
	width: 4%;
}
.play-button {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
    font-size: 1.5em;
}
.addall
{
	width: 120px;
	margin-left: 10px;
}
.active {
  color: limegreen;
}
.track:hover{
    background: #363031;
}
.addplaylist
{
	height: 30px;
    width: 30px;
    padding: 5px;
}
li{
	cursor: pointer;
}