.form-group 
{
    margin-bottom: 0px;
}
.count
{
    margin-left: 15px;
    font: inherit;
}
.amount
{
    margin-left: -15px;
}
meter{

    overflow: hidden;
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 0;
}
meter::-webkit-meter-bar {
    background: none; /* Required to get rid of the default background property */
    background-color: whiteSmoke;
}
meter::-webkit-meter-optimum-value {
    background: none;
    background-color: limegreen;
}
.valuefield{
    margin-top: -34px;
    width: 100%;
    color: black;
}