<div class="form-group row">
    <label align="left" class="col-xs-12 col-sm-6 form-control-label">User name:</label>
    <div align="left" class="col-xs-12 col-sm-6">
        {{userInfo.UserName}}
    </div>
</div>
<div class="form-group row">
    <label align="left" class="col-xs-12 col-sm-6 form-control-label">First name:</label>
    <div align="left" class="col-xs-12 col-sm-6">
        {{userInfo.FirstName}}
    </div>
</div>
<div class="form-group row">
    <label align="left" class="col-xs-12 col-sm-6 form-control-label">Last name:</label>
    <div align="left" class="col-xs-12 col-sm-6">
        {{userInfo.LastName}}
    </div>
</div>
<div class="form-group row">
    <label align="left" class="col-xs-12 col-sm-6 form-control-label">Playlist count:</label>
    <div align="left" class="col-xs-12 col-sm-6">
        {{userInfo.PlaylistCount}}
    </div>
</div>
<div class="form-group row">
    <label align="left" class="col-xs-12 col-sm-6 form-control-label">Track count:</label>
    <div align="left" class="col-xs-12 col-sm-6">
        {{userInfo.TrackCount}}
    </div>
</div>
<div class="form-group row">
    <label align="left" class="col-xs-12 col-sm-6 form-control-label count">Spotify track count:</label>
    <div align="left" class="col-xs-12 col-sm-5 amount">
        {{userInfo.SpotifyTrackCount}}
    </div>
</div>
<div class="form-group row">
    <label align="left" class="col-xs-12 col-sm-6 form-control-label count">YouTube track count:</label>
    <div align="left" class="col-xs-12 col-sm-5 amount">
        {{userInfo.YoutubeTrackCount}}
    </div>
</div>
<div class="form-group row">
    <label align="left" class="col-xs-12 col-sm-6 form-control-label count">Mp3 track count:</label>
    <div align="left" class="col-xs-12 col-sm-5 amount">
        {{userInfo.Mp3TrackCount}}
    </div>
</div>
<div class="form-group row">
    <label align="left" class="col-xs-12 col-sm-6 form-control-label">File amount:</label>
    <div align="left" class="col-xs-12 col-sm-6">
        {{userInfo.FileAmount}}
    </div>
</div>
<div class="form-group row">
    <label align="left" class="col-xs-12 col-sm-6 form-control-label">Disc space:</label>
    <div align="left" class="col-xs-12 col-sm-6">
        {{userInfo.UsedDiscSpace}}Mb of {{userInfo.MaxDiscSpace}}Mb
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-12 col-sm-6">
    </div>
    <div align="left" class="col-xs-12 col-sm-6 meterclass">
        <meter min="0" [value]="userInfo.UsedDiscSpace | safevalue" [max]="userInfo.MaxDiscSpace | safevalue">
        </meter>
        <div align=center class="valuefield">{{disckUsageProcent | number : '1.2-2' }} %</div>
    </div>
</div>