@background: #000000;
@box-back-color: #242021;
@box-small-margin: 15px;
@box-big-margin: 2 * @box-small-margin;
#container {
    overflow: hidden;
    background-color: @background;
}
.box-style {
    background-color: @box-back-color;
    border-radius: 10px;
    padding: 20px;
    color: #FFFFFF;
    font-size: 2em;
    text-align: center;
}
.innerbox {
    padding: @box-small-margin @box-small-margin 0 @box-small-margin;
}
.box {
    padding: 0;
}