<div id="container">
    <div class="col-xs-12 col-sm-12 box">
        <div class="innerbox">
            <div class="box-style">
                <h1>Queue</h1>
                <div *ngIf="tracklist.length == 0">Queue is empty</div>
                <table class="tracks list-group" dnd-sortable-container (dragend)="orderedTrack()" [sortableData]="tracklist">
                    <thead>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let track of tracklist; let i = index" 
                                [class.activetrack]="track == currentTrack" 
                                class="list-group-item tablerow" dnd-sortable [sortableIndex]="i">
                            
                            <td class="tablerowdata" (click)="onSelect(track)" >
                                <div class="col-sm-1 logos" >
                                    <img *ngIf="track.type == 1" src="assets/YouTube-social-squircle_red_128px.png" width="30" align="left">
                                    <img *ngIf="track.type == 2" src="assets/Spotify_Logo_RGB_Green.png" width="30" align="left">
                                    <img *ngIf="track.type == 3" src="assets/128px-MP3_logo_white.png" width="30" align="left">
                                </div>
                                <div class="col-sm-8 trackname">
                                    {{track.name}}
                                </div>
                                <div class="col-sm-3">
                                    <div class="pull-right btn-group" role="group">
                                        <button type="button" class="trackbuttons btn btn-danger glyphicon glyphicon-remove" (click)="delete(track); $event.stopPropagation()"></button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>