@background: #000000;
@box-back-color: #242021;
@box-small-margin: 15px;
@box-big-margin: 2 * @box-small-margin;

#container {
    overflow: scroll;
    background-color: @background;
    height: 94vh;
}

.box-style {
    height: 100%;
    width: 100%;
    background-color: @box-back-color;
    border-radius: 10px;
    padding: 20px;
    color: #FFFFFF;
    font-size: 1.5em;
    text-align: center;
}

.innerbox {
    height: 100%;
    padding: @box-small-margin @box-small-margin @box-small-margin @box-small-margin;
}

a.selected {
    background-color: #BBD8DC !important;
    color: white;
}
.box {
    padding-left: 0px;
    padding-right: 0px;
}
.tablerow
{
    width: 100%;
    display: flex;
}
.tablerowdata
{
    width: 100%;
}
.tracks
{
    width: 100%;
}
tr
{
    padding: 0px;
    //background-color: @box-back-color;
    background-color: #383838;
}
.trackbuttons
{
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 5px 0px 5px 0px;
}
.logos
{
    margin-top: 8px;
    margin-bottom: 5px;
    float: left;
    height: 100%;
}
.trackname
{
    text-align: left;
    height: 100%;
    //border-right: 1px solid white;
}
.lyric
{
    white-space: pre-line;
    word-break: break-word;
    max-height: 400px;
    overflow: scroll;
}
.activetrack {
  color: limegreen;
}
.tablerowdata:hover{
    background: #595959; /* make this whatever you want */
}
.alignButton
{
    margin-top: 6px;
}