<div id="outer">
    <div id="popup">
        <h3>Lisää uusi kappale</h3>
        <youtube-player
            style="visibility: hidden"
            (ready)="savePlayer($event)"
            (change)="onStateChange($event)"
            width="300" height="2"
            ></youtube-player>
        <input type="text" class="form-control" [(ngModel)]="name" placeholder="0" [ngModelOptions]="{standalone: true}"/>
        <textarea rows="6" class="form-control" [(ngModel)]="newTracks" placeholder="0" [ngModelOptions]="{standalone: true}" ></textarea>
        <p >
            <button (click)="add()" class="btn btn-success">Add tracks</button>
            <button (click)="cancel()" class="btn btn-warning">Cancel</button>
        <!--<button (click)="cancel()">Cancel</button>-->
        </p>
    </div>
</div>