<div class="box">
    <div class="mynavbar">
        <my-navbar></my-navbar>
    </div>
    <div class='container-fluid'>
        <div>
            <button (click)="toggleMenu()" [ngClass]="{'glyphicon-menu-down': menuStateIn, 'glyphicon-menu-up': !menuStateIn }" class="shrink-button btn btn-default glyphicon"></button>
            <div id="container" [@slideInOut]="menuState" class="shrink left-panel col-sm-4 col-xs-12">
                <div class="row">
                    <my-playlist></my-playlist>
                </div>
            </div>
            <div id='body-content' class="col-sm-8 col-xs-12">
                <div id="container" class="cont">
                    <div class="innerbox">
                        <div class="box-style">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="player">
        <my-player></my-player>
    </div>
</div>
<div class="fog" *ngIf="loading">
    <div class="loader">
    </div>
</div>
