<div id="container">
    <div class="col-xs-12 col-sm-12 box">
        <div class="innerbox">
            <div class="box-style"> 

                <div class="row">
                    <button id="play" (click)="play()" class="btn btn-success">Play</button>

                    <button id="pause" (click)="pause()" class="btn btn-warning">Pause</button>

                </div>
                <div class="row">
                    <button id="previous" (click)="previous()" class="btn btn-primary"><<</button>

                    <button id="next" (click)="next()" class="btn btn-primary">>></button>

                </div>
                <div class="row" style="visibility: hidden"><!--style="visibility: hidden"-->
                    <!--<iframe id="youtube" (loaded)="onYoutubeLoaded()" (ended)="onYoutubeEnded()" width="560" height="80" [src]="selectedTrack.address | safe" allowfullscreen>
                    </iframe>-->
                    <youtube-player
                    [videoId]="selectedTrack.address"
                    (ready)="savePlayer($event)"
                    (change)="onStateChange($event)"
                    width="300" height="1"
                    ></youtube-player>
                </div>
                <div class="row" *ngIf="selectedTrack.type == 2" style="visibility: hidden"><!--style="visibility: hidden"-->
                    <iframe id="spotify" (load)="onLoad(this)" [src]="selectedTrack.address | safe" width="300" height="1" frameborder="0" allowtransparency="true"></iframe>
                </div>
                <div class="row" *ngIf="selectedTrack.type == 3" style="visibility: hidden"><!--style="visibility: hidden"-->
                    <audio height="1" (loadeddata)="audioloaded()" (ended)="onAudioEnded()" id="audio1" [src]="selectedTrack.address | safe" controls="" preload="auto" autobuffer="">
                    </audio>
                </div>
                <div>
                    {{selectedTrack.name}}
                </div>
                <div>
                    {{trackName}}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="container">
    <div class="col-xs-12 col-sm-12 box">
        <div class="innerbox">
            <div class="box-style"> 
                <button id="addbutton" class="btn btn-primary" (click)="addTrack()">Add tracks</button>
                <!--<a *ngFor="let track of tracklist" (click)="onSelect(track)"
                    [class.selected]="track === selectedTrack" >
                    <div class="module track"  style.background-color="{{track.type | colorpipe}}">
                        <h4 >{{track.name}}</h4>
                    </div>
                </a>-->
                <div class="panel-body">
                    <ul class="list-group" dnd-sortable-container [sortableData]="tracklist">
                        <li *ngFor="let track of tracklist; let i = index" (click)="onSelect(track)"
                            [class.selected]="track === selectedTrack" 
                            class="list-group-item" dnd-sortable [sortableIndex]="i"
                            style.background-color="{{track.type | colorpipe}}">
                            {{track.name}}
                            <!--<button class="btn btn-danger delete" (click)="delete(track); $event.stopPropagation()">x</button>-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
