@background: #000000;
@box-back-color: #242021;
@box-small-margin: 15px;
@box-big-margin: 2 * @box-small-margin;

#container {
    overflow: scroll;
    background-color: @background;
    height: 94vh;
}

.box-style {
    height: 100%;
    width: 100%;
    background-color: @box-back-color;
    border-radius: 10px;
    padding: 20px;
    color: #FFFFFF;
    font-size: 1.5em;
    text-align: center;
}

.innerbox {
    height: 100%;
    padding: @box-small-margin @box-small-margin @box-small-margin @box-small-margin;
}

.module {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607D8B;
  border-radius: 2px;
  margin-bottom: 10px;
}
.module:hover {
  cursor: pointer;
  color: black;
}
a.selected {
    background-color: #BBD8DC !important;
    color: white;
}
/*.grid-pad {
    height: 80%;
    padding: 10px 0;
    overflow: scroll;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}*/

button{
    width: 120px;
}
#addbutton
{
    width: 170px;
    margin-bottom: 10px;
}
.row
{
    margin-bottom: 10px;
}
.control-button
{
    width: 50px;
    height: 50px;
    font-size: 1.2em;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}
.box {
    padding-left: 0px;
    padding-right: 0px;
}
.tablerow
{
    width: 100%;
    display: flex;
}
.tablerowdata
{
    width: 100%;
}
.tracks
{
    width: 100%;
}
tr
{
    padding: 0px;
    //background-color: @box-back-color;
    background-color: #383838;
}
.trackbuttons
{
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 5px 0px 5px 0px;
}
.logos
{
    margin-top: 8px;
    margin-bottom: 5px;
}
.trackname
{
    text-align: left;
}
.lyric
{
    white-space: pre-line;
    word-break: break-word;
    max-height: 400px;
    overflow: scroll;
}
