 <div class="innerbox">
     <div class="box-style"> 
         <div>
            <button class="btn btn-primary glyphicon glyphicon-log-in" (click)="loginToSpotify()"></button>
            <button class="btn btn-primary glyphicon glyphicon-log-out" (click)="logoutFromSpotify()"></button>
        </div>
        <div *ngIf="playlists.length > 0" class="grid grid-pad" >
            <h3> Local playlist: </h3>
            <div *ngFor="let playlist of playlists" class="pldiv">
                <a (click)="selectPlaylist(playlist)" [routerLink]="['/tracklist', playlist.id]" routerLinkActive="active">
                {{playlist.name}}
                </a>
                <div class="pull-right btn-group buttongroup" role="group">
                    <button class="editbuttons btn btn-info glyphicon glyphicon-pencil" (click)="newPlaylistName.value = ''; editModal.open(); setRenameTarget(playlist); $event.stopPropagation()"></button>
                    <button class="editbuttons btn btn-danger glyphicon glyphicon-remove" (click)="removeConfirmationModal.open(); setDeleteTarget(playlist); $event.stopPropagation()"></button>
                                
                </div>
                        <!--<button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>-->
                
            </div>
            <button class="addButton btn btn-primary glyphicon glyphicon-plus pull-left" (click)="addNewPlaylistModal.open()"></button>
        </div>
        <div *ngIf="spotifyplaylists.length > 0" class="grid grid-pad" >
            <h3> Spotify playlists: </h3>
            <a *ngFor="let playlist of spotifyplaylists"  [routerLink]="['/spotifylist', playlist.id, playlist.owner.id]" routerLinkActive="active" >
                <div class="module track">
                    <h4 >{{playlist.name}}</h4>
                    <!--<button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>-->
                </div>
            </a>
        </div>
        <!--<ul class="playlists">
            <li *ngFor="let playlist of playlists" (click)="onSelect(playlist)"
                [class.selected]="playlist === selectedPlaylist">
                <span>{{playlist.name}}</span>
                <button class="delete"
                (click)="delete(playlist); $event.stopPropagation()">x</button>
            </li>
        </ul>-->
     </div>
 </div>
 <!--Playlist name edit modal-->
 <modal #editModal modalClass="modal-sm">
    <modal-header>
        <h1>New name for: {{renametarget.name}}</h1>
    </modal-header>
    <modal-content>
        <input class="form-control" (keyup.enter)="editModal.close(); rename(newPlaylistName.value)" ng-focus="true" #newPlaylistName />
            
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary confirmbutton" (click)="editModal.close(); rename(newPlaylistName.value)">OK</button>
        <button class="btn btn-primary" (click)="editModal.close()">Cancel</button>
    </modal-footer>
</modal>

 <!--Playlist remove confirmation modal-->
 <modal #removeConfirmationModal modalClass="modal-md">
    <modal-header>
        <h1>Are you sure you want to remove: {{removetarget.name}} ?</h1>
    </modal-header>
    <modal-footer>
        <button class="btn btn-primary confirmbutton" (click)="removeConfirmationModal.close(); delete()">Yes</button>
        <button class="btn btn-primary" (click)="removeConfirmationModal.close()">No</button>
    </modal-footer>
</modal>

<!--Playlist remove confirmation modal-->
 <modal #addNewPlaylistModal modalClass="modal-sm">
    <modal-header>
        <h1>Create a new playlist</h1>
    <modal-content>
        <label>Playlist name:</label>
        <input class="form-control" (keyup.enter)="addNewPlaylistModal.close(); add(newPlaylistName.value); newPlaylistName.value=''" ng-focus="true" #newPlaylistName />
    </modal-content> 
    </modal-header>
    <modal-footer>
        <button class="btn btn-primary confirmbutton" (click)="addNewPlaylistModal.close(); add(newPlaylistName.value); newPlaylistName.value=''">Create</button>
        <button class="btn btn-primary" (click)="addNewPlaylistModal.close()">Cancel</button>
    </modal-footer>
</modal>