 <div class="innerbox">
     <div class="box-style"> 
         <div>
            <label>Playlist name:</label>
            <input class="form-control" ng-focus="true" #playlistName (keyup.enter)="add(playlistName.value); playlistName.value=''"/>
            <button class="btn btn-primary glyphicon glyphicon-plus" (click)="add(playlistName.value); playlistName.value=''"></button>
            <button class="btn btn-primary glyphicon glyphicon-log-in" (click)="loginToSpotify()"></button>
        </div>
        <div *ngIf="playlists.length > 0" class="grid grid-pad" >
            <h3> Local playlist: </h3>
            <a *ngFor="let playlist of playlists"  [routerLink]="['/tracklist', playlist.id]" routerLinkActive="active" >
                <div class="module track">
                    <h4 >{{playlist.name}}</h4>
                    <!--<button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>-->
                </div>
            </a>
        </div>
        <div *ngIf="spotifyplaylists.length > 0" class="grid grid-pad" >
            <h3> {{currentSpotifyUser.id}}</h3>
            <h3> {{currentSpotifyUser.display_name}}</h3>
            <h3> Spotify playlists: </h3>
            <a *ngFor="let playlist of spotifyplaylists"  [routerLink]="['/spotifylist', playlist.id]" routerLinkActive="active" >
                <div class="module track">
                    <h4 >{{playlist.name}}</h4>
                    <!--<button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>-->
                </div>
            </a>
        </div>
        <!--<ul class="playlists">
            <li *ngFor="let playlist of playlists" (click)="onSelect(playlist)"
                [class.selected]="playlist === selectedPlaylist">
                <span>{{playlist.name}}</span>
                <button class="delete"
                (click)="delete(playlist); $event.stopPropagation()">x</button>
            </li>
        </ul>-->
     </div>
 </div>