<div class="row">
    <img class="pull-left artisimage" [src]="imageUrl" height="150" width="150"/>
    <div class="artisinfo" >
        <a target="_blank" href="{{artistLink}}"> Artist: {{artistName}} </a>
        Albums: {{albumCount}}
    </div>
</div>
<div>
    Albums:
</div>
<div class="container albums" *ngIf="bandCampAlbumInfos">
    <div *ngFor="let album of bandCampAlbumInfos" [routerLink]="['/main/bandcampalbum', urlToBase64(album.url)]" class="album col-sm-3 col-xs-6">
        <img class="pull-left albumimage" [src]="album.imageUrl" height="150" width="150"/>
        {{album.title}}
    </div>
</div>