
a {
  padding: 0px;
  margin: 0px;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
}

h3 {
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
}
input {
    color:black;
    width: 100%;
}
button {
    margin: 5px;
    width: 70px;
}
.grid {
  margin: 0;
}

.grid-pad {
    height: 80%;
    padding: 10px 0;
    overflow: auto;
}
/*.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}*/

.box-style {
    font-size: 1.7em;
}
.innerbox {
    padding-top: 15px;
}
.editbuttons
{
  width: 28px;
  height: 28px;
  padding: 0px;
  margin: 0px;
}
.pldiv
{
  text-align: left;
  height: 36px;
}
.buttongroup
{
  margin-top: 3px;
  width: 85px;
}
.confirmbutton
{
  margin-bottom: 0px;
}
.addButton
{
  margin-top: 15px;
}
.control-button {
	color: inherit;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.0em;
  margin-bottom: 5px;
  right: 20px;
  position: absolute;
  top: 30px;
}
.playlistname{
    width:100%;
    line-height: 0.8em;
    max-width: 80px;
    overflow: hidden;
    text-overflow: clip;
}
.buttoncolumn{
  width: 90px;

}
.active {
  color: #00fbff;
}