@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

@background: #000000;
@box-back-color: #242021;
@box-small-margin: 15px;

#container {
    overflow: scroll;
    background-color: @background;
    height: 94vh;
}

.box-style {
    height: 100%;
    width: 100%;
    background-color: @box-back-color;
    border-radius: 10px;
    padding: 20px;
    color: #FFFFFF;
    font-size: 1.5em;
    text-align: center;
}

.innerbox {
    height: 100%;
}
