@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

html, body {
    height: 100vh;
}
#container {
    overflow: scroll;
    height: 95vh;
	  scroll-behavior: auto;
}
h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
.container-fluid{
  background-color: black;
  height: 100%;
}

div {
    padding-left: 0px;
    padding-right: 0px;

}
.mynavbar
{
  height: 6vh;
  background-color: #242021;
}