a.selected {
    background-color: #BBD8DC !important;
    color: white;
}
label {
    color: #333;
    font-size: initial;
    text-align: left;
}
.use-flex {
    display: flex;
}
.addbutton {
    width: 73px;
    height: 34px;
}
my-fileupload {
    width: 100%;
}
/*.grid-pad {
    height: 80%;
    padding: 10px 0;
    overflow: scroll;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}*/
h1
{
    color: black;
}

button{
    width: 120px;
}

.row
{
    margin-bottom: 10px;
}
.control-button
{
    width: 50px;
    height: 50px;
    font-size: 1.2em;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}
.box {
    padding-left: 0px;
    padding-right: 0px;
}

.tracks
{
    width: 100%;
}
tr
{
    padding: 0px;
    background-color: #383838;
}
.trackbuttons
{
    width: 35px;
    height: 35px;
    padding: 0px;
    margin: 5px 0px 5px 0px;
}
.logos
{
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    height: 100%;
}
.trackname
{
    text-align: left;
    width: 100%;
    max-width: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.lyric
{
    white-space: pre-line;
    word-break: break-word;
    max-height: 400px;
    overflow: scroll;
}
.activetrack {
  color: limegreen;
}
.tablerow:hover{
    background: #595959; /* make this whatever you want */
}
.tablerow{
    display: table-row;
}
.alignButton
{
    margin-top: 6px;
}
.buttons{
    width: 115px;
}
.lastcol
{
    max-width: 150px;
}
table { border-collapse: collapse; }
tr { border: solid 1px white; }
.tablerow:first-child { border-top-left-radius: 4px; }
.tablerow:first-child { border-top-right-radius: 4px; }
.tablerow:last-child { border-bottom-left-radius: 4px; }
.tablerow:last-child { border-bottom-right-radius: 4px; }