
<div class="use-flex">
    <my-fileupload (loadComplited)="loadComplited($event)" [currentPlaylist]="currentPlaylist" ></my-fileupload>
    <button class="addbutton btn btn-primary glyphicon glyphicon-plus" (click)="clearNewTrack();addNewTrackModal.show()" data-toggle="tooltip" title="Add new track"></button>
</div>
<table class="tracks list-group" dnd-sortable-container (dragend)="orderedTrack()" [sortableData]="tracklist">
    <thead>
        <th></th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let track of tracklist; let i = index"
                [class.activetrack]="track == currentTrack"
                class="tablerow list-group-item" dnd-sortable [sortableIndex]="i"
                (click)="$event.dropdown || $event.addTrackToPlaylistclicked || $event.addTrackToQueueclicked || onSelect(track)"
                [id]="getTrackElementName(track.Id)">

            <td class="logo" >
                <div class="logos" >
                    <img *ngIf="track.Type == 1" src="assets/YouTube-social-squircle_red_128px.png" data-toggle="tooltip" title="Track from YouTube" width="30" align="left">
                    <img *ngIf="track.Type == 2" src="assets/Spotify_Logo_RGB_Green.png" data-toggle="tooltip" title="Track from Spotify" width="30" align="left">
                    <img *ngIf="track.Type == 3 || track.Type == 4 || track.Type == 5" src="assets/128px-MP3_logo_white.png" data-toggle="tooltip" title="Local Mp3 file" width="30" align="left">
                </div>
            </td>
            <td class="trackname">
                <div>
                {{track.Name}}
                </div>
            </td>
            <td class="lastcol">
                <div class="buttons">
                    <div class="btn-group" role="group">
                        <button type="button" class="trackbuttons btn btn-info glyphicon glyphicon-align-center" (click)="myModal.show(); $event.stopPropagation(); lyrics(track)" data-toggle="tooltip" title="Lyrics"></button>
                        <div class="btn-group" role="group" data-toggle="tooltip" title="Add track to playlist or to queue">
                            <button class="btn btn-default dropdown-toggle trackbuttons alignButton" (click)="$event.dropdown = true" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right drop" aria-labelledby="dropdownMenu1">
                                <li><a (click)="$event.addTrackToQueueclicked = true;addToQueue(track)">Add to queue</a></li>
                                <li role="separator" class="divider"></li>
                                <li *ngFor="let playlist of playlists">
                                    <a (click)="$event.addTrackToPlaylistclicked = true; addTrackToPlaylist(playlist, track)">
                                        {{playlist.Name}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <button type="button" class="trackbuttons btn btn-danger glyphicon glyphicon-remove" (click)="delete(track); $event.stopPropagation()" data-toggle="tooltip" title="Remove track from playlist"></button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<my-modal class="mymodal" #myModal>
    <div class="app-modal-header">
        <h1>Lyrics for: {{lyricHeader}}</h1>
    </div>
    <div class="app-modal-body">
        <pre class="lyric">
            {{lyric}}
        </pre>
    </div>
    <div class="app-modal-footer">
        <img class="pull-left" [src]="lyricImageUrl | safe">
        <button class="btn btn-primary" (click)="myModal.hide()">Close</button>
    </div>
</my-modal>


<!-- add new Playlist modal-->
<my-modal class="mymodal" #addNewTrackModal>
    <div class="app-modal-header">
        <h1>Create a new playlist</h1>
    </div>
    <div class="app-modal-body">
        <label>Track name:</label>
        <input class="form-control" [(ngModel)]="newTrack.Name" ng-focus="true" />
        <label>Track address:</label>
        <input class="form-control" [(ngModel)]="newTrack.Address" />
    </div>
    <div class="app-modal-footer">
        <button class="btn btn-primary confirmbutton" (click)="addNewTrackModal.hide(); addNewTrack();">Create</button>
        <button class="btn btn-primary" (click)="addNewTrackModal.hide()">Cancel</button>
    </div>
</my-modal>
