
#container {
    height: 94vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container-fluid{
  background-color: black;
  height: 100%;
}

div {
    padding-left: 0px;
    padding-right: 0px;
}
.mynavbar
{
  height: 45px;
  background-color: #242021;
  position: relative;
}
.row {
    margin-right: 5px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.box-style {
    padding: 20px;
}

.innerbox {
    height: 100%;
    padding: 15px 0 0 5px;
    margin-right: 5px;
}
