<div class="box">
    <div class="mynavbar">
        <my-navbar></my-navbar>
    </div>
    <div class='container-fluid'>
        <div>
            <div id="container" class="left-panel col-sm-4 col-xs-12">
                <div class="row">
                    <my-player></my-player>
                </div>
                <div class="row">
                    <my-playlist></my-playlist>
                </div>
            </div>
            <div id='body-content' class="col-sm-8 col-xs-12">
                <div id="container" class="cont">
                    <div class="innerbox">
                        <div class="box-style">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fog" *ngIf="loading">
    <div class="loader">
    </div>
</div>
