
#container {
    overflow-y: auto;
    overflow-x: hidden;
}
.cont{
    display: grid;

}
.box {
  height: 100%;
  width: 100%;
  background-color: black;
}
.container-fluid{
  background-color: black;
  height: 100%;
  width: 100%;
  margin-bottom: 150px;
}

div {
    padding-left: 0px;
    padding-right: 0px;
}
.mynavbar
{
    background-color: #242021;
    height: 50px;
}
.row {
    margin-right: 5px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.box-style {
    padding: 20px;
}

.innerbox {
    height: 100%;
    padding: 15px 0 0 5px;
    margin-right: 5px;
}
.player{
    position: fixed;
    bottom: 0;
    height: 150px;
    background-color: black;
    width: 100%;
}
.shrink-button
{
    width: 100%;
    height: 30px;
    padding: 0px;
    background: #242021;
    color: white;
    border: solid #595959 3px;
    margin-top: 4px;
    margin-bottom: 4px;
}
@media only screen and (max-width: 768px) {
.shrink
{
    display: none;
}

}

@media only screen and (max-width: 768px) and (min-width: 600px) {
#container {
    height: calc(100vh - 238px)!important;
}
}

@media only screen and (max-width: 599px) {
#container {
    height: calc(100vh - 277px)!important;
}
}

@media only screen and (min-width: 769px) {
.shrink-button
{
    display: none;
}
.shrink
{
    display: inherit!important;
}
}